<h1>Listing elements</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Pre img href</th>
      <th>Class</th>
      <th>Img href</th>
      <th>Link</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @elements.each do |element| %>
      <tr>
        <td><%= element.title %></td>
        <td><%= element.pre_img_href %></td>
        <td><%= element.class %></td>
        <td><%= element.img_href %></td>
        <td><%= element.link %></td>
        <td><%= link_to 'Show', element %></td>
        <td><%= link_to 'Edit', edit_element_path(element) %></td>
        <td><%= link_to 'Destroy', element, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Element', new_element_path %>
